* {
    box-sizing: border-box;
}
header {
    margin:0;
    justify-content: center;
    padding: 1.625rem;
    text-align: center;
    font-size: 300%;
}

main {
    float: right;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 200%;
    
}

.text-box {
    float: left;
    margin-left: 0%;
    width: 20%;
    border: 1px;
    box-shadow: 2px 2px 2px 2px;
}

.text-box > main {
    margin-left: 0%;
}

h2 {
    display: flex;
    align-content: center;
    column-gap: 10px;
}

#forCard {
    font-size: 20px;

}

button[data-index] {
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    background: none;
    
}

textarea {
    
}